.div {
    height: 30px;
    left: 45px;
    position: absolute;
    top: 78px;
    width: 726px;
  }

.text-wrapper {
    color: var(--dark-100);
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    left: 0;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    top: 0;
    width: 101px;
  }
  
.lable-2 {
    color: var(--dark-100);
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    left: 182px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    top: 0;
    width: 128px;
  }