.navigation-header {
    height: 100px;
    overflow: hidden;
    width: 375px;
  }
  
  .navigation-header .main-wrapper {
    background-color: #ffffff;
    height: 130px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 377px;
  }
  
  .navigation-header .main {
    height: 38px;
    left: 29px;
    position: relative;
    top: 32px;
    width: 319px;
  }
  
  .navigation-header .screen-title {
    color: var(--dark-100);
    font-family: "Montserrat", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 126px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
  }
  
  .navigation-header .notification {
    height: 38px;
    left: 281px;
    position: absolute;
    top: 1px;
    width: 38px;
  }
  
  .navigation-header .group-wrapper {
    border: 1px solid;
    border-color: #22bb9b;
    border-radius: 12px;
    height: 40px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 40px;
  }
  
  .navigation-header .group-2 {
    height: 22px;
    left: 9px;
    position: absolute;
    top: 8px;
    width: 20px;
  }
  