.cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

.shadow-badge {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%; /* To make sure the shadow appears round */
}
  