.login-light-mode
{
background-color:#f7f7f7;
height:812px;
width:375px;
padding:0px;
}

.welcome-back
{
background-color:#ffffff;
height:558px;
width:375px;
padding:0px;
top:254px;
position:relative;
}

.create-an-account
{
background-color:#ffffff;
height:558px;
width:375px;
padding:0px;
top:254px;
position:relative;
}

.password-recovery
{
background-color:#ffffff;
height:362px;
width:375px;
padding:0px;
top:450px;
position:relative;
}
