/* Default styles (for larger screens) */
.tables-screen {
    display: flex;
    flex-direction: column;
    height: 100vh

}

.tables-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto;
}

/* Responsive styles (for smaller screens) */
@media screen and (max-width: 768px) {
    .tables-content {
        align-items: center; /* center alignment for smaller screens */
    }
}
