* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-y: hidden;
  height: 100vh;  
  background-color: #E5E5E5;  
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #E5E5E5; 
}

.main-content {
  padding-left: 0; /* For mobile */
}

/* At your lg breakpoint */
@media (min-width: 1024px) { /* This is the typical lg breakpoint for Tailwind, adjust if yours is different */
  .main-content {
      padding-left: 5rem; /* This should be the width of your left navigation */
  }
}
