* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}


#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #FFFFFF;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  overflow-y: auto;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* IE and Edge */
  -ms-overflow-style: none; /* IE 10+ */
}

/* * {
  border: 1px solid red;
} */