body {
    overflow-y: hidden;
    
}

.menu-screen {
    overflow-x: hidden;
}

.no-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.no-scrollbar::-webkit-scrollbar {
    display: none; 
}
