.settings-light-mode
{
background-color:#f7f7f7;
height:812px;
width:375px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:wrap;
align-items:center;
justify-content:center;
position:relative;
}

.account-information
{
height:748px;
width:375px;
padding:0px;
border-style:hidden;
outline:none;
}

.restaurant-information
{
height:748px;
width:375px;
padding:0px;
border-style:hidden;
outline:none;
}

